@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Handlee);
/* CSS Document */
.hidden{display:none;}
/* ========================= GERAL ===========================*/
body { background-color: #fff; font-family: Helvetica, Arial, sans-serif; }
.tag0, .tag1, .tag2, .tag3, .tag4, .tag5, .tag6, .tag7, .tag8, .tag9, .tag10 { color: #990000; text-decoration: none; font-weight: bold; line-height: 110%; font-size: 22px;}
.tag0:hover, .tag1:hover, .tag2:hover, .tag3:hover, .tag4:hover, .tag5:hover, .tag6:hover, .tag7:hover, .tag8:hover, .tag9:hover, .tag10:hover  { color: #990000; text-decoration: underline; font-weight: bold; }
.tag0 { font-size: 20px; font-weight: normal;}
.tag0:hover { background: #f6efa1; }
.tag1 { font-size: 18px; }
.tag2 { font-size: 20px; text-transform: uppercase; }
.tag3 { font-size: 20px; }
.tag4 { font-size: 21px; }
.tag5 { font-size: 20px; }
a { color: #000000; text-decoration: none; }
a:hover { color: #CC0000; }
small, small * { color: #666; font-size: 9px; font-weight: normal; }
TEXTAREA { width: 100%; background-color: #FFFFFF; border: 1px outset #ccc; padding: 5px; }
FORM { display: inline; }
#sort { height: 28px; width: 150px; border-style: solid; border-width: 1px; text-align: center; border-radius: 5px; font-size: 12px; background: #fff; }

/*onde estou breadcrumb*/
.ondeestou * { color: #666; }
#breadcrumb {font-size:13px; padding:10px; }
.ondeestou a span {vertical-align:baseline;}
/*final*/

#box_info_pedido { width: 158px; line-height: 95px; font-size: 18px; color: #FFFFFF; text-align: center; }

.divisoria { height: 1px; background: #ccc; }
.box { border: 1px solid #d4d4d4; background: #f8f8f8; font-size: 12px; }
.box * { font-size: 12px; }
.box .titulo { border: 1px solid #fff; background: #f2f2f2; padding: 5px; font-weight: bold; font-size: 11px; color: #666666; }
.item_pagina { color: #000; padding: 2px; text-align: left; }
.hiperlink { color: #CC0000; text-decoration: underline; }
.texto9 { font-size: 9px; }
.texto11 { font-size: 11px; }
.texto12 { font-size: 12px; }
.texto16,
.texto16 * { font-size: 16px; }
.texto_destaque,
.texto_destaque b { color: #CC0000; }
.preco { font-size: 12px; color: #CC0000; font-weight: bold; }
.preco_promocao { font-size: 12px; color: #ff0000; font-weight: normal; }
.preco_promocao small { font-size: 9px; }
.preco_forma_pagto,
.preco_forma_pagto b { font-size: 11px; color: #0066FF; font-weight: normal; }
.box_preco { text-align: center; font-size: 18px; color: #CC0000; font-weight: bold; border: 1px solid #E6E6E6; background: #F7F7F7; text-align: center; }
.box_preco_item { border: 1px solid #fff; border-top: 0; padding: 5px; font-weight: normal; }
.box_preco_valor { border: 1px solid #fff; border-bottom: 0; padding: 5px; }
.txt_desconto { color: #666; font-size: 11px; font-weight: normal; }
.txt_desconto b { color: #06F; font-size: 12px; font-weight: bold; }
.box_forma_pagto { font-size: 18px; color: #CC0000; font-weight: bold; border: 1px dotted #999999; padding: 5px; }
.box_forma_pagto .txt_forma_pagto { background: #666; padding: 5px; font-size: 10px; color: #fff; display: block; }
.box_forma_pagto .item_forma_pagto { float: left; font-size: 10px; border-bottom: 1px solid #f2f2f2; padding: 5px 0 5px 0; display: block; width: 100%; }
.box_forma_pagto .item_forma_pagto h1,
.box_forma_pagto .item_forma_pagto h2 { font-size: 9px; color: #000; font-weight: normal; }
.box_forma_pagto .item_forma_pagto h1 { float: left; font-weight: bold; }
.box_forma_pagto .item_forma_pagto h2 { float: right; text-align: right; }
.box_forma_pagto .botao_formas_pagto { text-align: center; display: block; margin: 5px; }
.botoes_adicionais { border-top: 1px solid #E8E8E8; padding-top: 3px; display: block; background: url(..//d1fzrfeqgmqjkr.cloudfront.net/assets/00693/boxes/bg_atributos.gif) repeat-x; }
.botoes_adicionais .botao { padding: 5px; display: inline-block; float: left; }
.linha_comum { border-top: 1px solid #cccccc; padding-top: 5px; }
.linha_selecionada { background-color: #e8e8e8; cursor: pointer; }
.barra_progresso_de,
.barra_progresso_para { color: #8c8c8c; }
.barra_progresso_atual { color: #000000; }
.campo_texto { font-size: 12px; border: 1px solid #CCCCCC; background-image: url(..//d1fzrfeqgmqjkr.cloudfront.net/assets/00693/imagens/fundo_input.gif); background-repeat: repeat-x; background-position: top; padding: 2px; }
.campo_numero { padding:0;}
.campo_obrigatorio { color: #FF0000; font-size: 11px; }
.campo_option { border: 0; background: none; margin-right: 4px; }
.baixo_estoque_aviso { background: #FFFF99; font-size: 12px; border: 1px solid #ccc; padding: 5px; }
.borda_top_fundoCinza { background-color: #EEEEEE; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-color: #B7B7B7; border-right-color: #B7B7B7; border-bottom-color: #B7B7B7; border-left-color: #B7B7B7; font-size: 14px; font-weight: bold; color: #000000; }
.borda_top_fundoBranco { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-top-color: #B7B7B7; border-right-color: #B7B7B7; border-bottom-color: #B7B7B7; border-left-color: #B7B7B7; font-size: 12px; font-weight: normal; color: #000000; }
#banner_flat { position: absolute; top: 300px; left: 50%; margin-top: 0px; margin-left: -255px; z-index: 10; }
#banner_flat #fechar { text-align: right; }
/* pop imagems */
#pop_image,
#pop_image_big { }
#pop_image ul,
#pop_image_big ul { display: block; list-style: none; padding: 0; margin: 0; text-align: center; }
#pop_image ul li,
#pop_image_big ul li { text-align: center; padding: 0; margin: 0; }
#pop_image { border: 1px solid #DFDFDF; padding: 5px; text-align: center; }
#pop_image ul li { display: inline; margin: 5px; }
/* etapa de pedidos*/
.pedido_etapas_topo { }
.pedido_etapas_topo .texto_etapas { font-size: 11px; border: 1px solid #E6E6E6; border-bottom: 0; background-repeat: repeat-x; height: 20px; color: #666666; }
.pedido_etapas_topo .texto_intro { padding-left: 5px; font-size: 11px; color: #333333; font-weight: bold; border-bottom: 1px solid #E6E6E6; border-left: 1px solid #f9f9f9; }
.pedido_etapas_passos { border: 1px solid #E6E6E6; border-top: 0; }
.pedido_etapas_instrucoes { border: 1px solid #E6E6E6; border-top: 1px solid #f2f2f2; font-size: 11px; }
.pedido_etapas_instrucoes .titulo { color: #5B5B5B; font-weight: bold; padding: 5px; }
.pedido_etapas_instrucoes .texto { color: #5B5B5B; padding-left: 11px; }
.pedido_etapas_instrucoes .texto b { color: #5B5B5B; }
.pedido_etapas_topo { }
.pedido_etapas_topo .texto_etapas { font-size: 11px; border: 1px solid #E6E6E6; border-bottom: 0; background-repeat: repeat-x; height: 20px; color: #666666; }
.pedido_etapas_topo .texto_intro { padding-left: 5px; font-size: 11px; color: #333333; font-weight: bold; border-bottom: 1px solid #E6E6E6; border-left: 1px solid #f9f9f9; }
.pedido_etapas_passos { border: 1px solid #E6E6E6; border-top: 0; }
.pedido_etapas_instrucoes { border: 1px solid #E6E6E6; border-top: 1px solid #f2f2f2; font-size: 11px;}
.pedido_etapas_instrucoes .titulo { color: #5B5B5B; font-weight: bold; padding: 5px; }
.pedido_etapas_instrucoes .texto { color: #5B5B5B; padding-left: 11px; }
.pedido_etapas_instrucoes .texto b { color: #5B5B5B; }
/* paginaçao */
.paginacao {font-size:15px; padding:5px 0px; border-top: 2px solid #ccc;}
.paginacao td {  padding: 10px; }
.paginacao a { text-decoration: none; }
.pagina_atual  {color:#f03; }
.paginacao a:hover { color: #f03; text-decoration: underline; }
.paginacao .link_proxima { font-weight: bold; }

/*=============================  BANNER PRINCIPAL =================================*/
.banner_pos5 {  padding: 20px 0; }

/*----------------------  corpo -----------------------*/
.corpo_conteudo {}
.coluna_esquerda {display: none;}
.coluna_centro { }

/* ---- box template conteudo -----*/
div.box_template { margin: auto;}
div.box_template:hover { }
div.box_template:hover div.title {}
div.box_template div.title { margin: 0 auto; text-align: center; color: #920c16; background-color: #fff; font-size: 40px; font-weight: lighter; font-family: 'Handlee', cursive;}
div.box_template div.content carousel { padding: 0; margin: auto; text-align: center; width: 95%; }
div.box_template div.content a.prev { padding: 0; margin: auto; position: absolute; top: 0; left: 0px; }
div.box_template div.content a.next { padding: 0; margin: auto; position: absolute; top: 0; left: 97%; }

.chamadas{display:none;}


/* -- menu vertical --*/



/* ---- box dos produtos -----*/
div.item_box_produto { position: relative; text-align: center; margin: 10px 2px; min-height: 330px; background-color: #fff; border-radius: 5px; font-size: 13px; border: 1px solid #ccc;}
div.item_box_produto:hover { border: 1px solid #aaa; box-shadow: 0px 0px 5px rgba( 0, 0, 0, .6); }
div.item_box_produto a { text-decoration: none; }
div.marks { position: absolute; top: -12px; left: 0; margin: 0; padding: 0; }
div.preco_promocao b small { display: none; }
#bt_comprar { position: absolute; top: 90%; left: 0; width: 100%; margin: 0 auto; padding: 0; }
.nome { padding-top: 15px; }

/* ---- descricao pragina dos produtos ---- */
div#descricao_produtos{ background-color: #f8f8f8; padding: 10px; width:100%;}
header.titulo_descricao {font-size: 15px; color: #000; background-color: #e8e8e8; padding:5px; margin-top:5px;}
header#proibido {color: #000;}
div#descricao_produtos article p { font-size: 12px; padding:5px; margin: 0; text-align: justify;}

/* ---- box dos carousel -----*/
div.caroufredsel_wrapper { }
#info_desc { color: #666; font-size: 10px; float: left; }
#msg_info { z-index: 1; background: #CCEEFF url(../imagens/icones/informacao.png) 5px no-repeat; border-bottom: 1px solid #ccc; padding: 5px 5px 5px 28px; color: #ffffff; font-size: 12px; }
#msg_alerta { z-index: 1; background: #FFFF99 url(../imagens/icones/alerta.png) 5px no-repeat; border-bottom: 1px solid #ccc; padding: 5px 5px 5px 28px; color: #000; font-size: 12px; }
#msg_erro { z-index: 1; background: #D70000 url(../imagens/icones/erro.png) 5px no-repeat; border-bottom: 1px solid #ff0000; padding: 5px 5px 5px 28px; color: #fff; font-size: 12px; }
#enquete { background: #f2f2f2; border: 1px solid #CC0000; padding: 5px; }
#enquete * { font-size: 11px; }
#enquete .titulo { font-size: 12px; font-weight: bold; text-align: center; padding: 3px; margin-bottom: 5px; }
#enquete .opcao { margin-bottom: 5px; }
#enquete .percentagem { border: 1px solid #d4d4d4; margin-top: 1px; }
#enquete .percentagem .barra { background: #00689C; padding: 2px; text-align: center; border: 1px solid #007EBB; color: #FFFFFF; }
#enquete .comentario { color: #000; border: 1px solid #ccc; padding: 4px; margin-bottom: 5px; }
#enquete .comentario .autor { color: #666; margin-top: 3px; }
/* ----------------------- menu vertical completo JOSE ------------------------- */
/*box page lateral*/
.box_pages { display: none; }
/*box login lateral*/
.box_login { display: none; }
/*texto cabecario pagina*/
.search-result-header { box-sizing:border-box;}
.texto_cabecalho_pagina { /*padding: 15px; padding-left: 30px;*/ padding: 5px 0 5px 0; margin-bottom: 20px; border-bottom: 2px solid #ccc; box-sizing:border-box;}
.texto_cabecalho_pagina > div {margin-bottom:5px;}
.texto_cabecalho_pagina .header { width:100%; min-width:280px; display:inline-block; text-align:center; margin:0px; padding:0px;}
.texto_cabecalho_pagina .header h1{ font-size:14px; padding:0; margin:0;}
.texto_cabecalho_pagina .order {width:100%; display:inline-block; text-align:center;}
.texto_cabecalho_pagina tr {}
.texto_cabecalho_pagina tr td {border-collapse: collapse; border-spacing: 0; width: 47% !important; margin:0; padding:0;}
/* corpo login*/
#box-login { display: block; }
.divider { display: none; position: relative; opacity: 0; }
#box-login .login { display: block; margin-top: -230px; min-width: 90%; }
#box-login .cadastro { display: block; text-align: center; margin-top: 20px; min-width: 90%; }
#box-login .cadastro div { text-align: center !important; }
#box-login .login fieldset { width: 100%; text-align: center; margin: auto; }
#box-login .login legend { font-size: 15px; text-align: center; margin: auto; width: 100%; }
#box-login .login label { display: block; font-size: 15px; width: 100%; color: #920c16; text-align: center; }
#box-login .login label[for=login_email] { }
#box-login .login label[for=login_senha] { }
#box-login .login input { width: 230px; height: 28px; border-style: solid; border-width: 1px; border-color: #920c16; border-radius: 5px; text-align: center; }
#box-login .login input[type="image"] { width: auto; height: auto; border-style: none; }
#box-login .login span { display: block; width: 100%; }
#box-login .login span.submit { text-align: center; }
#box-login .login .actions { display: block; width: 100%; }
#box-login .actions span { width: 100%; }
#box-login > div { text-align: center; }
/*    -----    pagina dos produtos         ----    */


/*.etalage img {width:100% !important; height:100% !important;}
#product_gallery {width:100% !important; height:400px !important; margin:auto; text-align:center; box-sizing:border-box; display:table;}
.etalage_icon {display:none !important;}
.etalage_small_thumbs {width:100% !important; top:290px !important;}
.etalage_small_thumbs > ul:nth-child(1) > li > img { width:25vw !important; height:25vw !important;}


.info_produto {width:100% !important;}
.breve_descricao {font-size:5em;}
#detalhe_produto > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td {width: 90% !important; display: block; padding:0 !important; margin: auto; text-align:center;}
*/

/* ================================================= CARRINHO ===============================================*/
#order_shopping_cart .imagem img {
		width: 60%;
        max-width:200px;
		height: auto;
	}
	#order_shopping_cart .subtotal_compra strong {
		color: #26C281;
	}
	#order_shopping_cart .panel-header {
		border-bottom: 1px solid #eee;
		background: #f5f5f5;
	}
	#order_shopping_cart .nome {
		font-size: 0.8em;
	}
	#order_shopping_cart .nome a b {
		font-weight: normal !important;
	}
	#order_shopping_cart #cart_quantity_button {
		min-width: 65px;
	}
	ul.cart-steps>li {
		padding: 0 0 10px 5px !important;
	}
	ul.cart-steps>li>div>span {
		text-align: center;
	}
	ul.cart-steps>li>div>.ball {
		color: #fff;
		font-weight: 700;
		background: #b8b8b8;
		font-size: 24px;
		border: 1px solid #b9b9b9;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		padding: 5px 5px;
		float: none !important;
		margin: 0 auto;
        width:45px;
        height:45px;
		text-align: center;
	}
	#order_shopping_cart #cart_quantity_button {
		float: none !important;
	}
	#carrinho_todo .container{
 		max-width:100%;
	}
	.remove img{
		max-width:20px;
		max-height:20px;
	}
	#cart_quantity_button .campo_numero {
		padding:0;
		width: 30px;
		height:30px;
	}
	
	@media screen and (max-width: 500px) {
		.remove {

		}
		.remove a {
			padding: 5px 5px;
		}
		#shopping_cart .btn-checkout:first-child {
			display: none;
		}
		#order_shopping_cart #cart_quantity_button button:last-child {
			left: 40px !important;
			height: 32px;
			width: 22px;
		}
		.cart-price {
			float: right !important;
			margin-top: 5px;
		}
		#order_shopping_cart #cart_quantity_button button:first-child {
			left: 70px !important;
			top: 0px !important;
			height: 32px;
			width: 22px;
		}
		#order_shopping_cart #cart_quantity_button {
			float: none !important;
		}
		#order_shopping_cart .subtotal_cart {
			color: #2ECC71;
			background: #f9f9f9;
		}

		.cart-steps .step_subtitle {
			display: none;
		}
		#cart tbody:nth-child(even) {

		}
	}
@media only screen and (min-width: 501px) {
       #carrinho_todo{margin:auto; text-align:center;}
}

/* ==========================  DescriÃ§Ã£o do produto - Quadro de ampliar imagens  =========================*/
.quadro_imagens_adicionais { }
.quadro_imagens_adicionais .cabecalho { background: #DFDFDF; text-align: center; }
.quadro_imagens_adicionais .imagens { display: block; border: 1px solid #DFDFDF; }
.product_details { padding-top: 25px; width: 10%; }
.breve_descricao { font-size: 15px; }
/* ==========================  botao de comprar ===========================================================*/
.botao_comprar input[type='image'] { border: 2px solid #0d7203; border-radius: 5px; padding: 10px 25%; margin-top: 30px; background: -webkit-gradient(linear, left top, left bottom, from(#7cea7c), to(#00bd00)); background: -moz-linear-gradient(top, #7cea7c, #00bd00); filter:progidXImageTransform.Microsoft.gradient(startColorstr='#7cea7c', endColorstr='#00bd00');}
/* ========================== area finalizaçao de compra   ================================================*/
#shoppingCart #htmlCart tr td { min-height: 100px; }
#shoppingCart #shippingBox { display: none; }
#shoppingCart #cupomBox { display:none;}
#shoppingCart #cupomBox table {}
#shoppingCart #cupomBox table b {}
#shoppingCart #cupomBox #cupomDesc {}
#shoppingCart #cupomBox #cupom_codigo {border-radius: 5px; }
#shoppingCart #cupomBox #btn-cupom { border: 2px solid #0d7203; border-radius: 5px; padding: 10px 10px; text-align: center; margin: auto; background: -webkit-gradient(linear, left top, left bottom, from(#7cea7c), to(#00bd00)); background: -moz-linear-gradient(top, #7cea7c, #00bd00); filter:progidXImageTransform.Microsoft.gradient(startColorstr='#7cea7c', endColorstr='#00bd00');}}
#shoppingCart #cupomBox #btn-remove-cupom { border: 2px solid #530201; border-radius: 5px; padding: 10px 10px; text-align: center; margin: auto; background: -webkit-gradient(linear, left top, left bottom, from(#ff0033), to(#920c16)); background: -moz-linear-gradient(top, #f03, #920c16); filter:progidXImageTransform.Microsoft.gradient(startColorstr='#f03', endColorstr='#920c16');}}
/* ==========================  menu lateral mobile*/
#menu_lateral_mobile { display:block; margin:auto; text-align: center; width:100%;}

/* ========================== alerta pagina principal*/
#banner_flat {display:block; position: absolute; top:200px; left:50%;}



/* ========================== cabecario*/
.page-header {
        background-color: #F03;
        margin: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#f03), to(#c4082d));
        background: -moz-linear-gradient(top, #f03, #c4082d);
    }
    
#marca_menu{
 font-family:helvetica, arial, sans-serif; font-size:1em; color:#f03;
}  
#botao_menu_mobile {
}
span.icon-bar{
background-color:#fff !important;
}
#botao_menu_mobile:hover {
background-color:#920c16;
}

.navbar-fixed-top  {
    max-width: 1200px;
    text-align: center;
    margin: auto;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #424242;
    background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#222));
    background: -moz-linear-gradient(top, #424242, #222);
    
}
#header_linha_2 {
    margin: auto;
    margin-top: 65px;
    text-align: center;
}

ul#menu_topo > li > a {
    color: #fff;
}

ul#menu_topo > li:hover > a {
    color: #f03;
}

li#carrinho_topo > a {
    color: #fff;
}

li#carrinho_topo:hover > a {
    color: #f03;
}

li#carrinho_topo.dropdown.open > a{
    color: #fff;
    background-color: #f03;
}
li#botao_carrinho_topo {
  	margin:auto;
    text-align:center;
}

#Login_topo {
    margin: auto;
    text-align: center;
}

li#login_drop > a {
    color: #fff;
}

li#login_drop:hover > a {
    color: #f03;
}

li#login_drop.dropdown.open > a {
    color: #fff;
    background-color: #f03;
}

#btn_login_topo {
    margin: auto;
    text-align: center;
    width: 250px;
}

.form-horizontal .form-group {
    margin: 0 auto 10px auto !important;
}

.page-header>.container >.row > #fones,
#frases {
    color: #fff;
}

#frases {
	text-align:center;
}

#frases h1 {
    font-size: 19px;
    font-weight: bold;
}

#frases h2 {
    font-size: 19px;
    font-weight: bold;
    color: #000;
}

#fones {
    text-align: center;
}

#fones h3 {
    font-size: 15px;
}

#logo_sensual img {
    width: 150px;
}

#logo_20anos img {
    width: 125px;
}

span#para_lojista {
    color: #000;
}
/* barra de busca*/

.searchbar {
    text-align: center;
    margin: 0;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    border: 1px solid #920c16;
}
/* ========================== botao buscar*/

.searchbut {
    background-color: #f03;
    color: #fff;
    margin: 0;
    border: none;
    height: 28px;
}

.searchbut:hover {
    background-color: #920c16;
    color: #fff;
}}

/* ============================================= RODAPE =================================================*/
footer {}
.row{
  margin:0;
}
footer a {
	color:#fff;
}
/* ========================== INICIO LINHA 1 RODAPE */
#linha_1_rodape {
  background-color: #f03;
  background: -webkit-gradient(linear, left top, left bottom, from(#f03), to(#c4082d));
  background: -moz-linear-gradient(top, #f03, #c4082d);
  width:100%;
}
#conteudo_linha_1 {
  max-width: 1024px;
  text-align: center;
  margin:15px auto;
  box-sizing: border-box;
}
#cartoes,
#transferencia,
#seguranca,
#entrega {
  padding: 5px;
}
#cartoes p,
#transferencia p,
#seguranca p,
#entrega p {
  font-size: 14px;
  margin: 2px;
  color: #530201;
}
.conteudo_formas_pagamento_cartoes,
.conteudo_formas_pagamento_transferencia,
.conteudo_formas_pagamento_seguranca,
.conteudo_formas_pagamento_entrega  {
  height: 85px;
  text-align: center;
  background-color: #fff; 
  border-radius: 5px;
}
/* ========================== INICIO LINHA 2 RODAPE */
#linha_2_rodape {
  background-color: #424242;
  background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#222));
  background: -moz-linear-gradient(top, #424242, #222);
  width:100%;
}
/* ========================== CONTEUNDO DA LINHA 2 DO RODAPE */
#conteudo_linha_2 {
  max-width: 1024px;
  text-align: center;
  margin: auto;
  padding-top:20px;
}
/* ========================== LINKS DA PAGINA */
#links_da_pagina ul {
  list-style: none;
  padding: 0;
}
#links_da_pagina p {
  font-size: 12px;
  color: #fff;
  font-style: italic;
  margin: 0;
}

#links_da_pagina b {
  margin-bottom: 5px;
  text-decoration: underline;
  color: #fff;
  font-size: 15px;
}
/* ========================== COLUNAS SITE MAP */
#coluna_1,
#coluna_2,
#coluna_3 {
  display: inline-block;
  vertical-align: top;
  margin: 10px 3%;
}
/* ========================== ITEMS DO SITE MAP */
.sub-itens{
  text-align: left;
}
/* ========================== BOX DE CADSTRO NA NEWS */
#cadastro_news {
  padding: 0;
}
/* ========================== FORMULARIO DE CADASTRO NA NEWS */
#cadastro_news #formulario {
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 13px;
}
#formulario .form-group{
    margin: 5px
}
#title_news{
    margin:10px auto;
}
#cadastro_news #newsletter_name,
#newsletter_email {
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 13px;
  background: #fff;
}
/* ========================== CHACKBOX DE RADIO */
#formulario .checkbox{
  display: inline-block;
}
.form-group#check_news, .form-group#newsletter_botao {
  margin: 0;
  padding: 0;
}
/* ========================== BOTAO DE CADATRO NA NEWS */
#botao_news.btn-default {
  background-color: #920c16;
  border: none;
  color:#fff;
}
#botao_news.btn-default:hover {
  background-color: #f03;
  border: none;
  color:#fff;
}
/* ========================== ENDERECO */
#endereco{
  color: #fff;
  margin: 20px 0px;
}
#endereco span {
  font-size: 13px;
  color: #fff;
}
/* ========================== SOCIAIS */
#facebook_rodape,
#twitter_rodape {
  vertical-align: middle;
  display: inline-block;
  margin: 20px 0px;
}


/* ========================== 805  ===================================================*/
@media (min-width: 805px) {
  .chamadas{display:block;}
    .coluna_esquerda { display: block; text-align: center; margin: 0; padding: 0; }
    div.box_template { margin: 0 auto 20px 20px; }
    #breadcrumb {width:80%;}
/* ========================== menu vertical completo JOSE*/
/* ========================== menu desktop */
#menu_lateral_mobile
{
	display:none;
}
.box_categories .content ul,
 .box_categories .content ul li,
 .box_categories .content ul ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }
.box_categories .content ul li.hover,
 .box_categories .content ul li:hover {
 	position: relative;
 	z-index: 599;
 	cursor: default;
 }
.box_categories .content ul ul {
	visibility: hidden;
	position: absolute;
	z-index: 598;
	top: 0px;
	left: 95%; 
	width: 220px;
}
.box_categories .content ul li:hover > ul {
	visibility: visible;
}
.box_categories .content {
	width: 220px;
	font-size: 15px;
	font-weight: lighter;
}
.box_categories .content:before {
	content: '';
	display: block;
}
.box_categories .content:after {
	content: '';
	display: table;
	clear: both;
}
.box_categories .content a {
	display: block;
	padding: 15px 20px;
	color: #ffffff;
	text-decoration: none;
}
.box_categories .content > ul {
	width: 220px;
}
.box_categories .content > ul > li > a:hover {
	color: #ffffff;
}
.box_categories .content > ul > li a:hover,
 .box_categories .content > ul > li:hover a {
 	background: #920c16;
 	font-weight: lighter;
 	font-style: italic;
 	font-size: 13px;
 }
.box_categories .content ul ul li a:hover {
	background: #530201;
	font-weight: normal;
	font-size: 14px;
}
/* ========================== box page lateral*/
.box_pages { display: block; }
/* ========================== box login lateral*/
.box_login { display: block; background-color:#920c16; }
.box_login .title { display: block; }
.box_login .content { display: block; }
/* ========================== corpo login*/
/* ========================== box template conteudo -----*/
div.box_template { background-color: #fff;}
div.box_template:hover { background-color: #eee;}
/* ========================== corpo compra*/
#shoppingCart #htmlCart tr td { min-height: 100px; }
#shoppingCart #shippingBox { display: none; }
#shoppingCart #compreJunto { display: none; }
#shoppingCart #discountExclusive { display: none; }
#shoppingCart #ordertotals { display: none; }
.btn-checkout { height: 40px; }
#checkout { padding-bottom: 20px; }
#checkout .texto12 tr td { display: none; }
#checkout #item_cabecalho { color: #f03; font-size: 18px; padding: 8px; font-weight: bold; }
#checkout .tit { color: #f03; }
#checkOut span.active { color: #fff; background-color: #920c16; /*background-image: none; */}
#checkOut .step { border-style: solid; border-width: 1px; border-color: #920c16; border-radius: 5px; }
#checkout .box { border-style: solid; border-width: 1px; border-color: #920c16; border-radius: 5px; }
#checkout .campo_textarea { border: none; }
/* ========================== pagina dos produtos*/
.texto_cabecalho_pagina .header { width:47%; min-width:280px; display:inline-block; text-align:left;}
.texto_cabecalho_pagina .header h1{ font-size:20px; padding:0 0 0 20px; } 
.texto_cabecalho_pagina .order {width:47%; display:inline-block; text-align:right; margin-top:0px;}
  
  #fones {
            text-align: left;
        }
/*  #detalhe_produto > table:nth-child(1){width:90%!important; height:500px!important; text-align:center; margin:auto; display:block;}
 
  #product_gallery {width:53% !important;  display:block; }
  #product_gallery li{display:block;}
  #product_gallery img {width:300px!important; height:300px !important; }
.etalage_small_thumbs {width:100% !important; top:330px !important;}
.etalage_small_thumbs > ul:nth-child(1) > li > img { max-width:9vw !important; max-height:9vw !important; max-width:100px !important; max-height:100px !important;}

  
.breve_descricao {font-size:1.5em;}
#detalhe_produto > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td {display: table-cell; padding:0 !important; margin: auto; text-align:left;}
*/
  



/* ==========================  1025  =================================================*/

@media (min-width: 1025px) {

.corpo { width: 1250px }
.corpo_conteudo { width: 100%; margin: 0; padding: 0; }
.coluna_esquerda { display: block; text-align: center; position: relative; margin: 0; padding: 0; }
.coluna_centro { position: relative; width: 100%; margin: 0; padding: 0; }
.coluna_direita { }

}
