/* HHHHHHHHHHH MEDIA 1200 HHHHHHHHHHHHHHHHHHHHHH MEDIA 1200 HHHHHHHHHHHHHHHHHHHHHH MEDIA 1200 HHHHHHHHHHH */

    .corpo {
        margin: auto;
        width: 1250px
    }
    .corpo_conteudo {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .coluna_esquerda {
        display: block;
        text-align: center;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .coluna_centro {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }